# 1. Extract info from the "TATASTEEL FILE" from the location as below:

In [1]:
import os
os.getcwd()

'C:\\Users\\MAHE\\Desktop\\Data Science'

In [2]:
import pandas as pd
import numpy as np

In [21]:
def job_function():
    import pandas as pd
    import numpy as np
    import datetime
    import time
    import subprocess
    baseURL='https://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol=TATASTEEL'
    textfile = subprocess.check_output(['curl','-o','tatasteel.txt','-O', baseURL])
    f = open("tatasteel.txt","r")
    file = str(f.read())
    beg = file.find('[{')
    end = file.find('}]')
    trial = file[beg+1:end+1]
    trial = trial.replace('false','"false"').replace('true','"true"')
    trial = eval(trial)  
    
    global schedular, count
    
    df["symbol"] = [trial["symbol"]]
    df["buy"] = [trial["totalBuyQuantity"]]
    df["sell"] = [trial["totalSellQuantity"]]
    df["lastP"] = [trial["lastPrice"]]        
    
    #df = pd.DataFrame({"symbol":,"buy":[trial["totalBuyQuantity"]],"sell":[trial["totalSellQuantity"]],"lastP":[trial["lastPrice"]]})
    df['sell']=[x.replace('-','0').replace(',','') for x in df['sell']]
    df['buy']=[x.replace('-','0').replace(',','') for x in df['buy']]
    currentDT = datetime.datetime.now()
    df['time']=currentDT.strftime("%H:%M")
    if count==0:
        df["bs"+str(count)] = np.where(df["sell"]>=df["buy"],"S","B")
    else:
        df["bs"+str(count)] = np.where(df["sell"]>=df["buy"],"S","B")
        result["bs"+str(count)] = np.where(df["bs"+str(count)]==df["bs"+str(count-1)],"S",df["symbol"]+df["time"])
            
    df.to_csv("TATA_file"+str(count)+".csv")
    
    count+=1
    
    if count==5:
            scheduler.shutdown(wait = False)

# 2. Background Schedular

In [24]:
from datetime import datetime
from apscheduler.schedulers.background import BackgroundScheduler
count = 0
df = pd.DataFrame(columns = ["symbol","buy","sell","lastP","time"]) 
result = pd.DataFrame(columns = ["symbol"])
scheduler = BackgroundScheduler()

scheduler.add_job(job_function, 'interval', minutes = 2, start_date='2019-07-18 10:53:00', end_date='2019-07-18 11:15:00', id='my_job_id')

try:
    scheduler.start()
except apscheduler.schedulers.SchedulerNotRunningError as e:
    print('program exited')

In [25]:
result

  bs1 bs2 bs3 bs4
0   S   S   S   S

In [26]:
df

      symbol     buy    sell   lastP   time bs0 bs1 bs2 bs3 bs4
0  TATASTEEL  511989  558084  470.35  11:03   S   S   S   S   S

# Comparing last col with all other previous columns:

## To be placed at the "else" condition

### Should it change dynamically or be appended in the same way as bs0..?

## Trial:

In [3]:
data = {"A":['V','W','X','Y','Z'],"bs0":['s','b','b','s','s'],"bs1":['b','s','b','s','s'],"bs2":['b','b','b','s','s'],"bs3":['b','b','b','s','s']}
df = pd.DataFrame(data)
df

   A bs0 bs1 bs2 bs3
0  V   s   b   b   b
1  W   b   s   b   b
2  X   b   b   b   b
3  Y   s   s   s   s
4  Z   s   s   s   s

In [9]:
df.iloc[:,1:4]

  bs0 bs1 bs2
0   s   b   b
1   b   s   b
2   b   b   b
3   s   s   s
4   s   s   s

In [10]:
df["Result"] = (df.iloc[:,1:4].values==df[["bs3"]].values).all(axis=1).astype(str)
df

   A bs0 bs1 bs2 bs3 Result
0  V   s   b   b   b  False
1  W   b   s   b   b  False
2  X   b   b   b   b   True
3  Y   s   s   s   s   True
4  Z   s   s   s   s   True

# Capture data where "S" and "B" and vice-versa in a different dataframe

# Capture times greater in the individual csv files also ( since they change dynamically)

# All stocks:

In [1]:
#Load the dataframe 
import numpy as np
import pandas as pd
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup
Base_url=("https://zerodha.com/margin-calculator/Equity/")
page=requests.get(Base_url)
soup=BeautifulSoup(page.content,'html.parser')
data = []
table = soup.find('table', attrs={'class':'data equity'})
table_body = table.find('tbody')

rows = soup.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

df = pd.DataFrame(data = data)





#LIST COMPREHESNION
company_symbol = []
[company_symbol.append(df.loc[i][1][:-3:]) for i in range(len(df)) if df.loc[i][3] == "12.5x"]
company_symbol

['ACC',
 'AMARAJABAT',
 'AMBUJACEM',
 'APOLLOTYRE',
 'ASHOKLEY',
 'ASIANPAINT',
 'AUROPHARMA',
 'AXISBANK',
 'BAJAJ-AUTO',
 'BAJAJFINSV',
 'BAJFINANCE',
 'BALKRISIND',
 'BANKBARODA',
 'BATAINDIA',
 'BEL',
 'BERGEPAINT',
 'BHARATFORG',
 'BIOCON',
 'BOSCHLTD',
 'BPCL',
 'BRITANNIA',
 'CADILAHC',
 'CANBK',
 'CASTROLIND',
 'CENTURYTEX',
 'CESC',
 'CHOLAFIN',
 'CIPLA',
 'COALINDIA',
 'COLPAL',
 'CONCOR',
 'CUMMINSIND',
 'DABUR',
 'EICHERMOT',
 'ENGINERSIN',
 'ESCORTS',
 'EXIDEIND',
 'FEDERALBNK',
 'GLENMARK',
 'GODREJCP',
 'GODREJIND',
 'GRASIM',
 'HAVELLS',
 'HCLTECH',
 'HDFC',
 'HDFCBANK',
 'HEROMOTOCO',
 'HEXAWARE',
 'HINDALCO',
 'HINDUNILVR',
 'HINDZINC',
 'ICICIBANK',
 'IDBI',
 'IDFCFIRSTB',
 'IGL',
 'INDUSINDBK',
 'INFRATEL',
 'INFY',
 'ITC',
 'JSWSTEEL',
 'KAJARIACER',
 'KOTAKBANK',
 'LICHSGFIN',
 'LT',
 'LUPIN',
 'M&M',
 'M&MFIN',
 'MANAPPURAM',
 'MARICO',
 'MARUTI',
 'MCDOWELL-N',
 'MCX',
 'MFSL',
 'MGL',
 'MINDTREE',
 'MRF',
 'MUTHOOTFIN',
 'NATIONALUM',
 'NBCC',
 'NCC',
 'NESTLEIND',
 'NIITTECH',
 'NMDC',
 'NTPC',
 'OFSS',
 'OIL',
 'ONGC',
 'PEL',
 'PETRONET',
 'PIDILITIND',
 'POWERGRID',
 'PVR',
 'RAMCOCEM',
 'RAYMOND',
 'RBLBANK',
 'RECLTD',
 'RELIANCE',
 'SAIL',
 'SBIN',
 'SHREECEM',
 'SIEMENS',
 'TATACHEM',
 'TATAELXSI',
 'TATAGLOBAL',
 'TATAPOWER',
 'TATASTEEL',
 'TCS',
 'TECHM',
 'TORNTPHARM',
 'TORNTPOWER',
 'TVSMOTOR',
 'UBL',
 'ULTRACEMCO',
 'UPL',
 'VOLTAS',
 'WIPRO']

In [2]:
company_symbol[:10]

['ACC',
 'AMARAJABAT',
 'AMBUJACEM',
 'APOLLOTYRE',
 'ASHOKLEY',
 'ASIANPAINT',
 'AUROPHARMA',
 'AXISBANK',
 'BAJAJ-AUTO',
 'BAJAJFINSV']

In [9]:
def job_function2():
    import pandas as pd
    import numpy as np
    import datetime
    import time
    import subprocess
    baseURL='https://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol='
    symbol_list = []
    buy_list = []
    sell_list = []
    lastP_list = []
    for i in company_symbol[:10]:
        textfile = subprocess.check_output(['curl','-o',i+'.txt','-O', baseURL+i])
        f = open(i+".txt","r")
        file = str(f.read())
        beg = file.find('[{')
        end = file.find('}]')
        trial = file[beg+1:end+1]
        trial = trial.replace('false','"false"').replace('true','"true"')
        trial = eval(trial)  
        symbol_list.append(trial["symbol"])
        buy_list.append(trial["totalBuyQuantity"])
        sell_list.append(trial["totalSellQuantity"])
        lastP_list.append(trial["lastPrice"])

    global count, scheduler

    df["symbol"] = symbol_list
    df["buy"] = buy_list
    df["sell"] = sell_list
    df["lastP"] = lastP_list

    #df = pd.DataFrame({"symbol":,"buy":[trial["totalBuyQuantity"]],"sell":[trial["totalSellQuantity"]],"lastP":[trial["lastPrice"]]})
    df['sell']=[x.replace('-','0').replace(',','') for x in df['sell']]
    df['buy']=[x.replace('-','0').replace(',','') for x in df['buy']]
    currentDT = datetime.datetime.now()
    df['time']=currentDT.strftime("%H:%M")
    if count==0:
        df["bs"+str(count)] = np.where(df["sell"]>=df["buy"],"S","B")
    else:
        df["bs"+str(count)] = np.where(df["sell"]>=df["buy"],"S","B")
        result["bs"+str(count)] = np.where(df["bs"+str(count)]==df["bs"+str(count-1)],"S",df["symbol"]+df["time"])

    df.to_csv("all"+str(count)+".csv")
    
    count+=1

    if count==20:
        scheduler.shutdown(wait = False)

In [8]:
from datetime import datetime
from apscheduler.schedulers.background import BackgroundScheduler
count = 0
df = pd.DataFrame(columns = ["symbol","buy","sell","lastP","time"]) 
result = pd.DataFrame(columns = ["symbol"])
scheduler = BackgroundScheduler()

scheduler.add_job(job_function2, 'interval', minutes = 5, start_date='2019-07-18 12:38:00', end_date='2019-07-18 14:20:00', id='my_job_id')

try:
    scheduler.start()
except apscheduler.schedulers.SchedulerNotRunningError as e:
    print('program exited')