# As of 16/08/2019:

### Step 1: Install nsetools

In [1]:
!pip install nsetools

Collecting nsetools
  Downloading https://files.pythonhosted.org/packages/d2/37/1a4443208b73484e35ddaf952678c211decffe211ef8f428b2b496fef52e/nsetools-1.0.10.tar.gz
Requirement already satisfied: six in c:\users\mahe\anaconda3\lib\site-packages (from nsetools) (1.12.0)
Collecting dateutils (from nsetools)
  Downloading https://files.pythonhosted.org/packages/5b/11/246237ce2a1dd87ffebef0e430033f877b31dd208b281914d4fd3c531ee7/dateutils-0.6.6.tar.gz
Collecting argparse (from dateutils->nsetools)
  Downloading https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in c:\users\mahe\anaconda3\lib\site-packages (from dateutils->nsetools) (2.8.0)
Requirement already satisfied: pytz in c:\users\mahe\anaconda3\lib\site-packages (from dateutils->nsetools) (2018.9)
Building wheels for collected packages: nsetools, dateutils
  Building wheel for nsetools (setup.py): started
  Building wheel for nsetools (setup.py): finished with status 'done'
  Stored in directory: C:\Users\MAHE\AppData\Local\pip\Cache\wheels\1d\0e\fa\5411606dd2896153f6a25c92557e0669fcb461d350e2c083ec
  Building wheel for dateutils (setup.py): started
  Building wheel for dateutils (setup.py): finished with status 'done'
  Stored in directory: C:\Users\MAHE\AppData\Local\pip\Cache\wheels\59\7f\14\021981e24cc37ca796f08be16f554c0de9b4922a1c41a2ba05
Successfully built nsetools dateutils
Installing collected packages: argparse, dateutils, nsetools
Successfully installed argparse-1.4.0 dateutils-0.6.6 nsetools-1.0.10

### Step2: Visit this url:

"C:/Users/your_username/Anaconda3/Lib/site-packages/nsetools/"

### Step3: Run this command:

In [4]:
!pip install bsetools

Collecting bsetools
  Downloading https://files.pythonhosted.org/packages/f6/bc/be420e00bd695b05e360c3261364ab7bb2b45cbf5d9c9d36e0738e5f3ab1/bsetools-0.3.3.zip
Requirement already satisfied: beautifulsoup4 in c:\users\mahe\anaconda3\lib\site-packages (from bsetools) (4.7.1)
Collecting Google-Search-API (from bsetools)
  Downloading https://files.pythonhosted.org/packages/ca/83/452b9feb69c0ab644e154996e98a180d022e586c397c3e60d823cc2ba6ec/Google_Search_API-1.1.14-py3-none-any.whl
Requirement already satisfied: selenium in c:\users\mahe\anaconda3\lib\site-packages (from bsetools) (3.141.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\mahe\anaconda3\lib\site-packages (from beautifulsoup4->bsetools) (1.8)
Requirement already satisfied: future in c:\users\mahe\anaconda3\lib\site-packages (from Google-Search-API->bsetools) (0.17.1)
Collecting fake-useragent (from Google-Search-API->bsetools)
  Downloading https://files.pythonhosted.org/packages/d1/79/af647635d6968e2deb57a208d309f6069d31cb138066d7e821e575112a80/fake-useragent-0.1.11.tar.gz
Requirement already satisfied: requests in c:\users\mahe\anaconda3\lib\site-packages (from Google-Search-API->bsetools) (2.21.0)
Collecting unidecode (from Google-Search-API->bsetools)
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
Collecting vcrpy (from Google-Search-API->bsetools)
  Downloading https://files.pythonhosted.org/packages/e5/77/c2549e2b5cfbf77a29a8d071955676dbe5e57bac7d1189be30f67c33db3a/vcrpy-2.1.0-py2.py3-none-any.whl
Requirement already satisfied: urllib3 in c:\users\mahe\anaconda3\lib\site-packages (from selenium->bsetools) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\mahe\anaconda3\lib\site-packages (from requests->Google-Search-API->bsetools) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\mahe\anaconda3\lib\site-packages (from requests->Google-Search-API->bsetools) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mahe\anaconda3\lib\site-packages (from requests->Google-Search-API->bsetools) (2019.3.9)
Requirement already satisfied: six>=1.5 in c:\users\mahe\anaconda3\lib\site-packages (from vcrpy->Google-Search-API->bsetools) (1.12.0)
Collecting yarl; python_version >= "3.5" (from vcrpy->Google-Search-API->bsetools)
  Downloading https://files.pythonhosted.org/packages/7d/dc/fb3617b3de980566b54b1ae59eb72fc72810350d7ed9164b26f155fa682d/yarl-1.3.0-cp37-cp37m-win_amd64.whl (121kB)
Requirement already satisfied: wrapt in c:\users\mahe\anaconda3\lib\site-packages (from vcrpy->Google-Search-API->bsetools) (1.11.1)
Requirement already satisfied: PyYAML in c:\users\mahe\anaconda3\lib\site-packages (from vcrpy->Google-Search-API->bsetools) (5.1)
Collecting multidict>=4.0 (from yarl; python_version >= "3.5"->vcrpy->Google-Search-API->bsetools)
  Downloading https://files.pythonhosted.org/packages/38/c7/07d8d88c3c16fe65d8596da429d104229dd7433b07432694a3ab45a72eaa/multidict-4.5.2-cp37-cp37m-win_amd64.whl (138kB)
Building wheels for collected packages: bsetools, fake-useragent
  Building wheel for bsetools (setup.py): started
  Building wheel for bsetools (setup.py): finished with status 'done'
  Stored in directory: C:\Users\MAHE\AppData\Local\pip\Cache\wheels\8e\ab\0d\032d65ce692af789c23c159d2cd13ee58adaead8ab77aec01d
  Building wheel for fake-useragent (setup.py): started
  Building wheel for fake-useragent (setup.py): finished with status 'done'
  Stored in directory: C:\Users\MAHE\AppData\Local\pip\Cache\wheels\5e\63\09\d1dc15179f175357d3f5c00cbffbac37f9e8690d80545143ff
Successfully built bsetools fake-useragent
Installing collected packages: fake-useragent, unidecode, multidict, yarl, vcrpy, Google-Search-API, bsetools
Successfully installed Google-Search-API-1.1.14 bsetools-0.3.3 fake-useragent-0.1.11 multidict-4.5.2 unidecode-1.1.1 vcrpy-2.1.0 yarl-1.3.0

google-search-api 1.1.14 has requirement selenium<3.0.0,>=2.44.0, but you'll have selenium 3.141.0 which is incompatible.

### Step4: Only for Sonata s/w from bsetools

In [9]:
!pip install bsedata

Collecting bsedata
  Downloading https://files.pythonhosted.org/packages/6b/f8/c4b24d9f501e78c61ce85d509e03ff1f8cb983b69e3dcb1e34776dc2a038/bsedata-0.3.1-py3-none-any.whl
Requirement already satisfied: beautifulsoup4 in c:\users\mahe\anaconda3\lib\site-packages (from bsedata) (4.7.1)
Requirement already satisfied: requests in c:\users\mahe\anaconda3\lib\site-packages (from bsedata) (2.21.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\mahe\anaconda3\lib\site-packages (from beautifulsoup4->bsedata) (1.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\mahe\anaconda3\lib\site-packages (from requests->bsedata) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mahe\anaconda3\lib\site-packages (from requests->bsedata) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\mahe\anaconda3\lib\site-packages (from requests->bsedata) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\mahe\anaconda3\lib\site-packages (from requests->bsedata) (1.24.1)
Installing collected packages: bsedata
Successfully installed bsedata-0.3.1

In [10]:
from bsedata.bse import BSE

In [11]:
stock = BSE()

In [12]:
stock.getQuote('532221')['buy']['5']
stock.getQuote('532221')['sell']['5']

{'price': '0.00', 'quantity': '-'}

### Step5: Go through this code:

In [13]:
import requests
import pandas as pd

url="https://zerodha.com/margin-calculator/Equity/"
html=requests.get(url).content
df_list=pd.read_html(html)
df1=df_list[0]
df=df_list[1]
df.columns=df1.columns
df.head()

   #        Scrip CNC Multiplier MIS Multiplier Unnamed: 4
0  1   3MINDIA:EQ             1x             3x  Calculate
1  2  AARTIIND:EQ             1x             3x  Calculate
2  3       ABB:EQ             1x             3x  Calculate
3  4     ABFRL:EQ             1x             3x  Calculate
4  5       ACC:EQ             1x          12.5x  Calculate

In [17]:
df.tail()

       #          Scrip CNC Multiplier MIS Multiplier Unnamed: 4
438  439       WIPRO:EQ             1x          12.5x  Calculate
439  440  WOCKPHARMA:EQ             1x             3x  Calculate
440  441    WONDERLA:EQ             1x             3x  Calculate
441  442     YESBANK:EQ             1x             3x  Calculate
442  443        ZEEL:EQ             1x             5x  Calculate

In [16]:
len(df)

443

### Step6: Convert the bsestocks.txt file into a csv file:

In [19]:
bsestocks_df = pd.read_csv("C:/Users/MAHE/Desktop/Data Science/HYD/Projects/bsestocks.csv",sep = "|")
bsestocks_df.head()

                             STOCK     CODE
0                  20 Microns Ltd    533022
1                 3i Infotech Ltd    532628
2                    3m India Ltd    523395
3       7seas Technologies Ltd       590116
4  8k Miles Software Services Ltd    512161

In [20]:
len(bsestocks_df)

4539

### Step7: Find the common company names b/w df and bsestocks_df:

In [26]:
df["Scrip"][0][:-3:]

'3MINDIA'

In [28]:
for i in range(len(df)):
    df["Scrip"][i] = df["Scrip"][i][:-3:]
df.head()

C:\Users\MAHE\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   #     Scrip CNC Multiplier MIS Multiplier Unnamed: 4
0  1   3MINDIA             1x             3x  Calculate
1  2  AARTIIND             1x             3x  Calculate
2  3       ABB             1x             3x  Calculate
3  4     ABFRL             1x             3x  Calculate
4  5       ACC             1x          12.5x  Calculate

In [33]:
str1 = str(bsestocks_df["STOCK"][0][:-5:])
str1

'20 Microns'

In [37]:
tup = str1.partition(" ")
tup

('20', ' ', 'Microns')

In [41]:
str(str(tup[0])+str(tup[2])).upper()

'20MICRONS'

In [44]:
str1 = str(bsestocks_df["STOCK"][4][:-5:])
str1

'8k Miles Software Services'

In [46]:
tup = str1.partition(" ")
tup

('8k', ' ', 'Miles Software Services')

In [47]:
str(str(tup[0])+str(tup[2])).upper()

'8KMILES SOFTWARE SERVICES'

In [48]:
for i in range(len(bsestocks_df)):
    str1 = str(bsestocks_df["STOCK"][i][:-5:])
    tup = str1.partition(" ")
    bsestocks_df["STOCK"][i] = str(str(tup[0])+str(tup[2])).upper()

bsestocks_df.head()

                       STOCK     CODE
0                  20MICRONS   533022
1                 3IINFOTECH   532628
2                    3MINDIA   523395
3       7SEASTECHNOLOGIES LT   590116
4  8KMILES SOFTWARE SERVICES   512161

In [60]:
res = pd.DataFrame(columns=["stock","code"])
res

Empty DataFrame
Columns: [stock, code]
Index: []

In [54]:
print(bsestocks_df["STOCK"][2][:4:])
print(df["Scrip"][2][:4:])

3MIN
ABB

In [100]:
sl = []
cl = []

for i in range(len(df)):
    for j in range(len(bsestocks_df)):
        if df["Scrip"][i][:4:]==bsestocks_df["STOCK"][j][:4:]:
            sl.append(df["Scrip"][i])
            cl.append(bsestocks_df["CODE"][j])

In [101]:
res["stock"] = sl
res["code"] = cl

In [102]:
res.head()

      stock     code
0   3MINDIA   523395
1  AARTIIND   524348
2  AARTIIND   524208
3       ACC   500410
4  ADANIENT   512599

In [104]:
res.tail()

           stock     code
1759       WIPRO   507685
1760  WOCKPHARMA   532300
1761    WONDERLA   538268
1762     YESBANK   532648
1763        ZEEL   533287

In [105]:
res

           stock     code
0        3MINDIA   523395
1       AARTIIND   524348
2       AARTIIND   524208
3            ACC   500410
4       ADANIENT   512599
5       ADANIENT   532921
6       ADANIENT   533096
7       ADANIENT   539254
8     ADANIPORTS   512599
9     ADANIPORTS   532921
10    ADANIPORTS   533096
11    ADANIPORTS   539254
12    ADANIPOWER   512599
13    ADANIPOWER   532921
14    ADANIPOWER   533096
15    ADANIPOWER   539254
16        AIAENG   532683
17    AJANTPHARM   532331
18    AJANTPHARM   519216
19     AKZOINDIA   500710
20      ALLCARGO   532749
21    AMARAJABAT   532664
22    AMARAJABAT   500008
23    AMARAJABAT   521097
24    AMARAJABAT   538465
25     AMBUJACEM   500425
26      ANANTRAJ   531678
27      ANANTRAJ   501630
28      ANANTRAJ   515055
29      ANANTRAJ   526833
...          ...      ...
1734  UNIVCABLES   532378
1735  UNIVCABLES   539314
1736  UNIVCABLES   504212
1737  UNIVCABLES   531963
1738  UNIVCABLES   523519
1739  UNIVCABLES   504673
1740  UNIVCABLES   524408
1741    USHAMART   532398
1742    USHAMART   517146
1743    USHAMART   511507
1744      VGUARD   532953
1745      VOLTAS   509038
1746      VOLTAS   532757
1747      VOLTAS   500575
1748  WABCOINDIA   533023
1749  WALCHANNAG   501370
1750  WALCHANNAG   507410
1751     WELCORP   504988
1752     WELCORP   524661
1753  WELSPUNIND   532144
1754  WELSPUNIND   532553
1755  WELSPUNIND   514162
1756  WELSPUNIND   533252
1757   WHIRLPOOL   500238
1758  WINDMACHIN   522029
1759       WIPRO   507685
1760  WOCKPHARMA   532300
1761    WONDERLA   538268
1762     YESBANK   532648
1763        ZEEL   533287

[1764 rows x 2 columns]

In [103]:
len(res)

1764