In [53]:
import os

In [54]:
os.getcwd()

'C:\\Users\\Dell\\Desktop\\Data Science\\python3'

In [55]:
os.chdir('C:\\Users\\Dell\\Desktop\\Data Science\\python3')

In [56]:
os.listdir()

['.ipynb_checkpoints',
 '16072019',
 'july 16.ipynb',
 'monday.csv',
 'pandaas',
 'pandas.ipynb',
 'test.csv',
 'test.tsv',
 'test.xlsx',
 'titanic.csv',
 'untitled',
 'Untitled Folder',
 'untitled.txt']

In [57]:
import pandas as pd

In [1]:
df=pd.read_csv('test.csv')
df.to_csv('monday.csv')

NameError: name 'pd' is not defined

In [8]:
df

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy,PF,24,NYK,68,1287,11.9,0.533,0.181,...,NaN,1.0,0.7,1.7,0.063,NaN,-2.3,-0.8,-3.1,-0.3
1,2,Jordan Adams,SG,20,MEM,30,248,12.8,0.489,0.291,...,NaN,0.0,0.4,0.4,0.073,NaN,-1.8,1.2,-0.6,0.1
2,3,Steven Adams,C,21,OKC,70,1771,14.1,0.549,0.005,...,NaN,1.9,2.2,4.1,0.111,NaN,-1.4,1.8,0.4,1.1
3,4,Jeff Adrien,PF,28,MIN,17,215,14.2,0.494,0.000,...,NaN,0.2,0.2,0.4,0.087,NaN,-2.7,0.5,-2.2,0.0
4,5,Arron Afflalo,SG,29,TOT,78,2502,10.7,0.533,0.377,...,NaN,1.6,1.0,2.6,0.050,NaN,-0.5,-1.3,-1.8,0.1
5,5,Arron Afflalo,SG,29,DEN,53,1750,11.7,0.533,0.370,...,NaN,1.4,0.4,1.8,0.050,NaN,0.0,-1.6,-1.6,0.2
6,5,Arron Afflalo,SG,29,POR,25,752,8.2,0.533,0.396,...,NaN,0.2,0.5,0.8,0.049,NaN,-1.5,-0.8,-2.3,-0.1
7,6,Alexis Ajinca,C,26,NOP,68,957,19.9,0.595,0.000,...,NaN,1.9,1.2,3.2,0.159,NaN,-0.5,0.6,0.2,0.5
8,7,Furkan Aldemir,PF,23,PHI,41,540,12.0,0.517,0.064,...,NaN,0.7,0.7,1.4,0.122,NaN,-2.7,2.0,-0.7,0.2
9,8,Cole Aldrich,C,26,NYK,61,976,18.1,0.513,0.000,...,NaN,0.8,1.4,2.2,0.107,NaN,-2.2,3.1,0.9,0.7
10,9,LaMarcus Aldridge,PF,29,POR,71,2512,22.8,0.528,0.074,...,NaN,4.9,3.7,8.6,0.165,NaN,0.3,0.0,0.3,1.4
11,10,Lavoy Allen,C,25,IND,63,1070,14.9,0.493,0.000,...,NaN,1.3,1.6,2.8,0.127,NaN,-1.4,2.2,0.8,0.8
12,11,Tony Allen,SG,33,MEM,63,1648,14.6,0.528,0.064,...,NaN,0.9,3.2,4.1,0.119,NaN,-0.4,3.7,3.3,2.2
13,12,Al-Farouq Aminu,SF,24,DAL,74,1366,14.4,0.504,0.347,...,NaN,1.2,2.0,3.3,0.115,NaN,-0.5,2.9,2.4,1.5
14,13,Lou Amundson,PF,32,TOT,53,937,11.8,0.442,0.004,...,NaN,-0.6,0.9,0.3,0.017,NaN,-4.0,2.0,-2.0,0.0
15,13,Lou Amundson,PF,32,CLE,12,79,3.8,0.387,0.000,...,NaN,-0.1,0.1,0.0,-0.011,NaN,-6.2,-0.1,-6.3,-0.1
16,13,Lou Amundson,PF,32,NYK,41,858,12.5,0.444,0.004,...,NaN,-0.5,0.8,0.4,0.020,NaN,-3.8,2.2,-1.6,0.1
17,14,Chris Andersen,C,36,MIA,60,1132,16.1,0.622,0.063,...,NaN,2.1,1.5,3.6,0.151,NaN,-1.2,2.3,1.0,0.9
18,15,Alan Anderson,SG,32,BRK,74,1744,10.6,0.563,0.477,...,NaN,1.7,1.1,2.7,0.075,NaN,0.0,-0.5,-0.5,0.6
19,16,Kyle Anderson,SF,21,SAS,33,358,8.2,0.389,0.124,...,NaN,-0.3,0.6,0.3,0.044,NaN,-5.2,2.4,-2.7,-0.1
20,17,Ryan Anderson,PF,26,NOP,61,1675,15.6,0.524,0.492,...,NaN,2.6,0.9,3.5,0.100,NaN,2.0,-3.1,-1.1,0.4
21,18,Giannis Antetokounmpo,SG,20,MIL,81,2541,14.8,0.552,0.056,...,NaN,2.2,4.0,6.2,0.117,NaN,-1.7,2.1,0.5,1.6
22,19,Carmelo Anthony,SF,30,NYK,40,1428,21.5,0.531,0.222,...,NaN,2.2,0.6,2.9,0.097,NaN,3.5,-2.2,1.4,1.2
23,20,Joel Anthony,C,32,DET,49,406,14.7,0.607,0.000,...,NaN,0.5,0.7,1.2,0.142,NaN,-3.4,4.8,1.4,0.3
24,21,Pero Antic,C,32,ATL,63,1037,9.5,0.508,0.584,...,NaN,0.5,1.0,1.5,0.070,NaN,-1.3,-1.4,-2.7,-0.2
25,22,Trevor Ariza,SF,29,HOU,82,2930,12.7,0.539,0.610,...,NaN,2.7,3.9,6.6,0.108,NaN,0.6,1.3,1.9,2.9
26,23,Darrell Arthur,PF,26,DEN,58,988,11.5,0.466,0.286,...,NaN,-0.1,0.9,0.9,0.042,NaN,-1.8,0.7,-1.1,0.2
27,24,Omer Asik,C,28,NOP,76,1982,15.5,0.545,0.000,...,NaN,2.8,2.2,5.0,0.120,NaN,-1.3,0.6,-0.7,0.6
28,25,D.J. Augustin,PG,27,TOT,82,1964,13.9,0.527,0.380,...,NaN,2.5,0.9,3.4,0.083,NaN,0.2,-2.7,-2.5,-0.3
29,25,D.J. Augustin,PG,27,DET,54,1287,15.8,0.536,0.325,...,NaN,2.0,0.6,2.5,0.094,NaN,0.8,-3.1,-2.4,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,476,Derrick Williams,PF,23,SAC,74,1462,12.8,0.540,0.322,...,NaN,1.7,0.4,2.1,0.069,NaN,-0.5,-2.7,-3.2,-0.5
622,477,Elliot Williams,SG,25,TOT,13,119,8.7,0.477,0.486,...,NaN,0.0,0.1,0.1,0.039,NaN,-1.7,-2.9,-4.6,-0.1
623,477,Elliot Williams,SG,25,UTA,5,42,14.4,0.648,0.538,...,NaN,0.0,0.0,0.1,0.090,NaN,-0.1,-2.3,-2.4,0.0
624,477,Elliot Williams,SG,25,NOP,8,77,5.6,0.382,0.458,...,NaN,0.0,0.0,0.0,0.012,NaN,-2.6,-3.2,-5.8,-0.1
625,478,Lou Williams,SG,28,TOR,80,2016,19.9,0.564,0.482,...,NaN,5.4,1.1,6.6,0.157,NaN,4.0,-3.1,0.9,1.5
626,479,Marvin Williams,PF,28,CHO,78,2035,11.8,0.541,0.535,...,NaN,1.5,2.9,4.3,0.102,NaN,-0.8,1.8,1.0,1.5
627,480,Mo Williams,PG,32,TOT,68,1980,15.4,0.512,0.405,...,NaN,1.6,0.6,2.1,0.052,NaN,2.1,-3.5,-1.3,0.3
628,480,Mo Williams,PG,32,MIN,41,1149,14.4,0.511,0.380,...,NaN,0.9,-0.2,0.7,0.031,NaN,1.3,-4.2,-3.0,-0.3
629,480,Mo Williams,PG,32,CHO,27,831,16.9,0.512,0.431,...,NaN,0.7,0.7,1.4,0.080,NaN,3.4,-2.4,1.0,0.6
630,481,Reggie Williams,SF,28,SAS,20,105,10.5,0.454,0.487,...,NaN,0.1,0.1,0.2,0.083,NaN,-0.5,-2.2,-2.7,0.0
631,482,Shawne Williams,SF,28,TOT,63,1087,10.5,0.537,0.593,...,NaN,1.1,0.8,1.9,0.084,NaN,-0.2,-0.8,-1.0,0.3
632,482,Shawne Williams,SF,28,MIA,44,924,11.2,0.574,0.633,...,NaN,1.3,0.7,2.0,0.102,NaN,0.6,-0.7,-0.2,0.4
633,482,Shawne Williams,SF,28,DET,19,163,6.7,0.388,0.433,...,NaN,-0.2,0.1,-0.1,-0.021,NaN,-4.3,-1.2,-5.5,-0.1
634,483,Jeff Withey,C,24,NOP,37,259,17.6,0.570,0.000,...,NaN,0.5,0.3,0.8,0.149,NaN,-1.6,0.6,-1.0,0.1
635,484,Nate Wolters,PG,23,TOT,21,247,4.6,0.352,0.123,...,NaN,-0.4,0.2,-0.2,-0.036,NaN,-6.1,0.0,-6.1,-0.3
636,484,Nate Wolters,PG,23,MIL,11,142,5.4,0.382,0.161,...,NaN,-0.1,0.2,0.1,0.018,NaN,-5.2,-0.2,-5.3,-0.1
637,484,Nate Wolters,PG,23,NOP,10,105,3.5,0.316,0.077,...,NaN,-0.3,0.1,-0.2,-0.109,NaN,-7.4,0.3,-7.1,-0.1
638,485,Brandan Wright,PF,27,TOT,75,1449,20.4,0.660,0.008,...,NaN,4.3,1.8,6.1,0.202,NaN,1.2,2.4,3.6,2.0
639,485,Brandan Wright,PF,27,DAL,27,505,25.7,0.762,0.000,...,NaN,2.2,0.6,2.9,0.274,NaN,4.0,2.8,6.8,1.1
640,485,Brandan Wright,PF,27,BOS,8,86,15.0,0.571,0.000,...,NaN,0.1,0.1,0.2,0.106,NaN,-2.2,1.8,-0.4,0.0
641,485,Brandan Wright,PF,27,PHO,40,858,17.8,0.600,0.014,...,NaN,2.0,1.1,3.0,0.170,NaN,-0.1,2.3,2.1,0.9
642,486,Dorell Wright,SF,29,POR,48,592,13.4,0.525,0.568,...,NaN,0.7,0.8,1.6,0.128,NaN,0.1,0.6,0.7,0.4
643,487,Tony Wroten,PG,21,PHI,30,895,14.9,0.494,0.327,...,NaN,-0.6,0.9,0.3,0.014,NaN,0.3,-1.8,-1.5,0.1
644,488,James Young,SG,19,BOS,31,332,8.5,0.457,0.647,...,NaN,0.1,0.3,0.3,0.047,NaN,-1.9,-1.9,-3.8,-0.2
645,489,Nick Young,SG,29,LAL,42,1000,14.2,0.520,0.473,...,NaN,1.1,0.1,1.2,0.058,NaN,0.9,-4.3,-3.5,-0.4
646,490,Thaddeus Young,PF,26,TOT,76,2434,15.7,0.507,0.119,...,NaN,1.6,1.4,3.1,0.061,NaN,0.2,-0.3,-0.1,1.2
647,490,Thaddeus Young,PF,26,MIN,48,1605,15.0,0.491,0.101,...,NaN,0.8,0.6,1.4,0.043,NaN,0.1,-0.4,-0.4,0.7
648,490,Thaddeus Young,PF,26,BRK,28,829,17.1,0.539,0.153,...,NaN,0.8,0.8,1.6,0.095,NaN,0.4,0.0,0.3,0.5
649,491,Cody Zeller,C,22,CHO,62,1487,14.1,0.530,0.003,...,NaN,1.6,2.2,3.8,0.123,NaN,-2.1,2.5,0.4,0.9
650,492,Tyler Zeller,C,25,BOS,82,1731,18.9,0.594,0.000,...,NaN,4.5,2.0,6.5,0.179,NaN,0.4,0.4,0.9,1.2

In [9]:
df.shape

(651, 29)

In [10]:
df.head(7)

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy,PF,24,NYK,68,1287,11.9,0.533,0.181,...,NaN,1.0,0.7,1.7,0.063,NaN,-2.3,-0.8,-3.1,-0.3
1,2,Jordan Adams,SG,20,MEM,30,248,12.8,0.489,0.291,...,NaN,0.0,0.4,0.4,0.073,NaN,-1.8,1.2,-0.6,0.1
2,3,Steven Adams,C,21,OKC,70,1771,14.1,0.549,0.005,...,NaN,1.9,2.2,4.1,0.111,NaN,-1.4,1.8,0.4,1.1
3,4,Jeff Adrien,PF,28,MIN,17,215,14.2,0.494,0.000,...,NaN,0.2,0.2,0.4,0.087,NaN,-2.7,0.5,-2.2,0.0
4,5,Arron Afflalo,SG,29,TOT,78,2502,10.7,0.533,0.377,...,NaN,1.6,1.0,2.6,0.050,NaN,-0.5,-1.3,-1.8,0.1
5,5,Arron Afflalo,SG,29,DEN,53,1750,11.7,0.533,0.370,...,NaN,1.4,0.4,1.8,0.050,NaN,0.0,-1.6,-1.6,0.2
6,5,Arron Afflalo,SG,29,POR,25,752,8.2,0.533,0.396,...,NaN,0.2,0.5,0.8,0.049,NaN,-1.5,-0.8,-2.3,-0.1

In [11]:
df_t=pd.read_csv('test.tsv',sep='\t')

In [12]:
df_t.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy,PF,24,NYK,68,1287,11.9,0.533,0.181,...,NaN,1.0,0.7,1.7,0.063,NaN,-2.3,-0.8,-3.1,-0.3
1,2,Jordan Adams,SG,20,MEM,30,248,12.8,0.489,0.291,...,NaN,0.0,0.4,0.4,0.073,NaN,-1.8,1.2,-0.6,0.1
2,3,Steven Adams,C,21,OKC,70,1771,14.1,0.549,0.005,...,NaN,1.9,2.2,4.1,0.111,NaN,-1.4,1.8,0.4,1.1
3,4,Jeff Adrien,PF,28,MIN,17,215,14.2,0.494,0.000,...,NaN,0.2,0.2,0.4,0.087,NaN,-2.7,0.5,-2.2,0.0
4,5,Arron Afflalo,SG,29,TOT,78,2502,10.7,0.533,0.377,...,NaN,1.6,1.0,2.6,0.050,NaN,-0.5,-1.3,-1.8,0.1

In [59]:
df.shape

(651, 29)

In [60]:
df3=pd.read_excel('test.xlsx',sheet_name='Sheet1')
df3.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy,PF,24,NYK,68,1287,11.9,0.533,0.181,...,NaN,1.0,0.7,1.7,0.063,NaN,-2.3,-0.8,-3.1,-0.3
1,2,Jordan Adams,SG,20,MEM,30,248,12.8,0.489,0.291,...,NaN,0.0,0.4,0.4,0.073,NaN,-1.8,1.2,-0.6,0.1
2,3,Steven Adams,C,21,OKC,70,1771,14.1,0.549,0.005,...,NaN,1.9,2.2,4.1,0.111,NaN,-1.4,1.8,0.4,1.1
3,4,Jeff Adrien,PF,28,MIN,17,215,14.2,0.494,0.000,...,NaN,0.2,0.2,0.4,0.087,NaN,-2.7,0.5,-2.2,0.0
4,5,Arron Afflalo,SG,29,TOT,78,2502,10.7,0.533,0.377,...,NaN,1.6,1.0,2.6,0.050,NaN,-0.5,-1.3,-1.8,0.1

In [61]:
df4=pd.read_clipboard(sep="\t")
df4.head()

EmptyDataError: No columns to parse from file

In [62]:
type(df4)

NameError: name 'df4' is not defined

In [63]:
url="http://www.basketball-reference.com/leagues/NBA_2015_totals.html"
df6=pd.read_html(url)
df6.head()

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('titanic.csv',sep='\t')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,NaN,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.0,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.0,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.shape

(156, 12)

In [6]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [17]:
df.describe()

,Rk,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
count,651.000000,651.000000,651.000000,651.000000,651.000000,649.000000,649.000000,649.000000,651.000000,651.000000,...,0.0,651.000000,651.000000,651.000000,651.000000,0.0,651.00000,651.000000,651.000000,651.000000
mean,256.520737,26.500768,45.960061,1041.775730,12.549155,0.505974,0.281766,0.265861,5.101843,14.214286,...,NaN,1.086482,1.032412,2.122581,0.065894,NaN,-1.50768,-0.524424,-2.031797,0.482335
std,143.081604,4.110914,25.503151,806.253103,6.457614,0.097621,0.221529,0.183590,4.346372,6.929651,...,NaN,1.811935,1.038880,2.610758,0.103885,NaN,3.64414,2.184639,4.630370,1.146129
min,1.000000,19.000000,1.000000,1.000000,-41.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,-2.700000,-0.200000,-0.900000,-1.046000,NaN,-36.80000,-13.200000,-50.000000,-1.400000
25%,130.500000,23.000000,24.000000,272.000000,9.700000,0.472000,0.063000,0.155000,1.900000,9.600000,...,NaN,0.000000,0.200000,0.200000,0.026500,NaN,-2.90000,-1.700000,-3.600000,-0.100000
50%,262.000000,26.000000,48.000000,896.000000,12.500000,0.517000,0.281000,0.236000,3.500000,12.900000,...,NaN,0.500000,0.700000,1.300000,0.075000,NaN,-1.10000,-0.500000,-1.500000,0.100000
75%,381.500000,29.000000,70.000000,1674.000000,15.800000,0.556000,0.444000,0.341000,7.700000,17.900000,...,NaN,1.700000,1.600000,3.300000,0.119000,NaN,0.40000,0.700000,0.300000,0.700000
max,492.000000,38.000000,83.000000,2981.000000,44.300000,1.064000,1.000000,2.000000,38.700000,76.600000,...,NaN,12.900000,5.400000,16.400000,0.477000,NaN,9.60000,17.100000,26.600000,7.900000

In [18]:
categorical=df.dtypes[df.dtypes=="object"].index
print(categorical)

Index(['Player', 'Pos', 'Tm'], dtype='object')

In [19]:
df.dtypes=="int64"

Rk              True
Player         False
Pos            False
Age             True
Tm             False
G               True
MP              True
PER            False
TS%            False
3PAr           False
FTr            False
ORB%           False
DRB%           False
TRB%           False
AST%           False
STL%           False
BLK%           False
TOV%           False
USG%           False
Unnamed: 19    False
OWS            False
DWS            False
WS             False
WS/48          False
Unnamed: 24    False
OBPM           False
DBPM           False
BPM            False
VORP           False
dtype: bool

In [20]:
df.dtypes=="object"

Rk             False
Player          True
Pos             True
Age            False
Tm              True
G              False
MP             False
PER            False
TS%            False
3PAr           False
FTr            False
ORB%           False
DRB%           False
TRB%           False
AST%           False
STL%           False
BLK%           False
TOV%           False
USG%           False
Unnamed: 19    False
OWS            False
DWS            False
WS             False
WS/48          False
Unnamed: 24    False
OBPM           False
DBPM           False
BPM            False
VORP           False
dtype: bool

In [21]:
df.dtypes[df.dtypes=="object"]

Player    object
Pos       object
Tm        object
dtype: object

In [22]:
df.dtypes[df.dtypes=="object"].index

Index(['Player', 'Pos', 'Tm'], dtype='object')

In [23]:
df.Name

AttributeError: 'DataFrame' object has no attribute 'Name'

In [24]:
df[['Ticket','Cabin']] #select two columns at a time

KeyError: "None of [Index(['Ticket', 'Cabin'], dtype='object')] are in the [columns]"

In [25]:
df[categorical].describe()

            Player  Pos   Tm
count          651  651  651
unique         492   11   31
top     A.J. Price   SG  TOT
freq             4  143   76

In [26]:
del df['PassengerId'] #deleting the particular column

KeyError: 'PassengerId'

In [27]:
df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy,PF,24,NYK,68,1287,11.9,0.533,0.181,...,NaN,1.0,0.7,1.7,0.063,NaN,-2.3,-0.8,-3.1,-0.3
1,2,Jordan Adams,SG,20,MEM,30,248,12.8,0.489,0.291,...,NaN,0.0,0.4,0.4,0.073,NaN,-1.8,1.2,-0.6,0.1
2,3,Steven Adams,C,21,OKC,70,1771,14.1,0.549,0.005,...,NaN,1.9,2.2,4.1,0.111,NaN,-1.4,1.8,0.4,1.1
3,4,Jeff Adrien,PF,28,MIN,17,215,14.2,0.494,0.000,...,NaN,0.2,0.2,0.4,0.087,NaN,-2.7,0.5,-2.2,0.0
4,5,Arron Afflalo,SG,29,TOT,78,2502,10.7,0.533,0.377,...,NaN,1.6,1.0,2.6,0.050,NaN,-0.5,-1.3,-1.8,0.1

In [28]:
sorted(df['Name'])[0:10]

KeyError: 'Name'

In [29]:
#deleting more than one column "del df[''],df ['']"

In [30]:
df['Name'].describe()

KeyError: 'Name'

In [31]:
df['Ticket']

KeyError: 'Ticket'

In [32]:
type(df['Ticket'])

KeyError: 'Ticket'

In [33]:
df['Ticket'].head(10)

KeyError: 'Ticket'

In [34]:
df['Ticket'][0:10] #first 10 elements

KeyError: 'Ticket'

In [35]:
sorted(df['Name'])[0:15]

KeyError: 'Name'

In [36]:
df.dtypes

Rk               int64
Player          object
Pos             object
Age              int64
Tm              object
G                int64
MP               int64
PER            float64
TS%            float64
3PAr           float64
FTr            float64
ORB%           float64
DRB%           float64
TRB%           float64
AST%           float64
STL%           float64
BLK%           float64
TOV%           float64
USG%           float64
Unnamed: 19    float64
OWS            float64
DWS            float64
WS             float64
WS/48          float64
Unnamed: 24    float64
OBPM           float64
DBPM           float64
BPM            float64
VORP           float64
dtype: object

In [37]:
df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy,PF,24,NYK,68,1287,11.9,0.533,0.181,...,NaN,1.0,0.7,1.7,0.063,NaN,-2.3,-0.8,-3.1,-0.3
1,2,Jordan Adams,SG,20,MEM,30,248,12.8,0.489,0.291,...,NaN,0.0,0.4,0.4,0.073,NaN,-1.8,1.2,-0.6,0.1
2,3,Steven Adams,C,21,OKC,70,1771,14.1,0.549,0.005,...,NaN,1.9,2.2,4.1,0.111,NaN,-1.4,1.8,0.4,1.1
3,4,Jeff Adrien,PF,28,MIN,17,215,14.2,0.494,0.000,...,NaN,0.2,0.2,0.4,0.087,NaN,-2.7,0.5,-2.2,0.0
4,5,Arron Afflalo,SG,29,TOT,78,2502,10.7,0.533,0.377,...,NaN,1.6,1.0,2.6,0.050,NaN,-0.5,-1.3,-1.8,0.1

In [7]:
new_survived=pd.Categorical(df['Survived'])
#new_survived=new_survived.rename_categories(["died","Survived"])
#new_survived.describe()
new_survived

[0, 1, 1, 1, 0, ..., 1, 0, 0, 0, 0]
Length: 156
Categories (2, int64): [0, 1]

In [39]:
df.rename

<bound method DataFrame.rename of       Rk                 Player Pos  Age   Tm   G    MP   PER    TS%   3PAr  \
0      1             Quincy Acy  PF   24  NYK  68  1287  11.9  0.533  0.181
1      2           Jordan Adams  SG   20  MEM  30   248  12.8  0.489  0.291
2      3           Steven Adams   C   21  OKC  70  1771  14.1  0.549  0.005
3      4            Jeff Adrien  PF   28  MIN  17   215  14.2  0.494  0.000
4      5          Arron Afflalo  SG   29  TOT  78  2502  10.7  0.533  0.377
5      5          Arron Afflalo  SG   29  DEN  53  1750  11.7  0.533  0.370
6      5          Arron Afflalo  SG   29  POR  25   752   8.2  0.533  0.396
7      6          Alexis Ajinca   C   26  NOP  68   957  19.9  0.595  0.000
8      7         Furkan Aldemir  PF   23  PHI  41   540  12.0  0.517  0.064
9      8           Cole Aldrich   C   26  NYK  61   976  18.1  0.513  0.000
10     9      LaMarcus Aldridge  PF   29  POR  71  2512  22.8  0.528  0.074
11    10            Lavoy Allen   C   25  IND  63  1070  14.9  0.493  0.000
12    11             Tony Allen  SG   33  MEM  63  1648  14.6  0.528  0.064
13    12        Al-Farouq Aminu  SF   24  DAL  74  1366  14.4  0.504  0.347
14    13           Lou Amundson  PF   32  TOT  53   937  11.8  0.442  0.004
15    13           Lou Amundson  PF   32  CLE  12    79   3.8  0.387  0.000
16    13           Lou Amundson  PF   32  NYK  41   858  12.5  0.444  0.004
17    14         Chris Andersen   C   36  MIA  60  1132  16.1  0.622  0.063
18    15          Alan Anderson  SG   32  BRK  74  1744  10.6  0.563  0.477
19    16          Kyle Anderson  SF   21  SAS  33   358   8.2  0.389  0.124
20    17          Ryan Anderson  PF   26  NOP  61  1675  15.6  0.524  0.492
21    18  Giannis Antetokounmpo  SG   20  MIL  81  2541  14.8  0.552  0.056
22    19        Carmelo Anthony  SF   30  NYK  40  1428  21.5  0.531  0.222
23    20           Joel Anthony   C   32  DET  49   406  14.7  0.607  0.000
24    21             Pero Antic   C   32  ATL  63  1037   9.5  0.508  0.584
25    22           Trevor Ariza  SF   29  HOU  82  2930  12.7  0.539  0.610
26    23         Darrell Arthur  PF   26  DEN  58   988  11.5  0.466  0.286
27    24              Omer Asik   C   28  NOP  76  1982  15.5  0.545  0.000
28    25          D.J. Augustin  PG   27  TOT  82  1964  13.9  0.527  0.380
29    25          D.J. Augustin  PG   27  DET  54  1287  15.8  0.536  0.325
..   ...                    ...  ..  ...  ...  ..   ...   ...    ...    ...
621  476       Derrick Williams  PF   23  SAC  74  1462  12.8  0.540  0.322
622  477        Elliot Williams  SG   25  TOT  13   119   8.7  0.477  0.486
623  477        Elliot Williams  SG   25  UTA   5    42  14.4  0.648  0.538
624  477        Elliot Williams  SG   25  NOP   8    77   5.6  0.382  0.458
625  478           Lou Williams  SG   28  TOR  80  2016  19.9  0.564  0.482
626  479        Marvin Williams  PF   28  CHO  78  2035  11.8  0.541  0.535
627  480            Mo Williams  PG   32  TOT  68  1980  15.4  0.512  0.405
628  480            Mo Williams  PG   32  MIN  41  1149  14.4  0.511  0.380
629  480            Mo Williams  PG   32  CHO  27   831  16.9  0.512  0.431
630  481        Reggie Williams  SF   28  SAS  20   105  10.5  0.454  0.487
631  482        Shawne Williams  SF   28  TOT  63  1087  10.5  0.537  0.593
632  482        Shawne Williams  SF   28  MIA  44   924  11.2  0.574  0.633
633  482        Shawne Williams  SF   28  DET  19   163   6.7  0.388  0.433
634  483            Jeff Withey   C   24  NOP  37   259  17.6  0.570  0.000
635  484           Nate Wolters  PG   23  TOT  21   247   4.6  0.352  0.123
636  484           Nate Wolters  PG   23  MIL  11   142   5.4  0.382  0.161
637  484           Nate Wolters  PG   23  NOP  10   105   3.5  0.316  0.077
638  485         Brandan Wright  PF   27  TOT  75  1449  20.4  0.660  0.008
639  485         Brandan Wright  PF   27  DAL  27   505  25.7  0.762  0.000
640  485         Brandan Wright  PF   27  BOS   8    86  15.0  0.571  0.000
641  485         Brandan Wright  PF   27  PHO  40   858  17.8  0.600  0.014
642  486          Dorell Wright  SF   29  POR  48   592  13.4  0.525  0.568
643  487            Tony Wroten  PG   21  PHI  30   895  14.9  0.494  0.327
644  488            James Young  SG   19  BOS  31   332   8.5  0.457  0.647
645  489             Nick Young  SG   29  LAL  42  1000  14.2  0.520  0.473
646  490         Thaddeus Young  PF   26  TOT  76  2434  15.7  0.507  0.119
647  490         Thaddeus Young  PF   26  MIN  48  1605  15.0  0.491  0.101
648  490         Thaddeus Young  PF   26  BRK  28   829  17.1  0.539  0.153
649  491            Cody Zeller   C   22  CHO  62  1487  14.1  0.530  0.003
650  492           Tyler Zeller   C   25  BOS  82  1731  18.9  0.594  0.000

     ...  Unnamed: 19  OWS  DWS   WS  WS/48  Unnamed: 24  OBPM  DBPM  BPM  \
0    ...          NaN  1.0  0.7  1.7  0.063          NaN  -2.3  -0.8 -3.1
1    ...          NaN  0.0  0.4  0.4  0.073          NaN  -1.8   1.2 -0.6
2    ...          NaN  1.9  2.2  4.1  0.111          NaN  -1.4   1.8  0.4
3    ...          NaN  0.2  0.2  0.4  0.087          NaN  -2.7   0.5 -2.2
4    ...          NaN  1.6  1.0  2.6  0.050          NaN  -0.5  -1.3 -1.8
5    ...          NaN  1.4  0.4  1.8  0.050          NaN   0.0  -1.6 -1.6
6    ...          NaN  0.2  0.5  0.8  0.049          NaN  -1.5  -0.8 -2.3
7    ...          NaN  1.9  1.2  3.2  0.159          NaN  -0.5   0.6  0.2
8    ...          NaN  0.7  0.7  1.4  0.122          NaN  -2.7   2.0 -0.7
9    ...          NaN  0.8  1.4  2.2  0.107          NaN  -2.2   3.1  0.9
10   ...          NaN  4.9  3.7  8.6  0.165          NaN   0.3   0.0  0.3
11   ...          NaN  1.3  1.6  2.8  0.127          NaN  -1.4   2.2  0.8
12   ...          NaN  0.9  3.2  4.1  0.119          NaN  -0.4   3.7  3.3
13   ...          NaN  1.2  2.0  3.3  0.115          NaN  -0.5   2.9  2.4
14   ...          NaN -0.6  0.9  0.3  0.017          NaN  -4.0   2.0 -2.0
15   ...          NaN -0.1  0.1  0.0 -0.011          NaN  -6.2  -0.1 -6.3
16   ...          NaN -0.5  0.8  0.4  0.020          NaN  -3.8   2.2 -1.6
17   ...          NaN  2.1  1.5  3.6  0.151          NaN  -1.2   2.3  1.0
18   ...          NaN  1.7  1.1  2.7  0.075          NaN   0.0  -0.5 -0.5
19   ...          NaN -0.3  0.6  0.3  0.044          NaN  -5.2   2.4 -2.7
20   ...          NaN  2.6  0.9  3.5  0.100          NaN   2.0  -3.1 -1.1
21   ...          NaN  2.2  4.0  6.2  0.117          NaN  -1.7   2.1  0.5
22   ...          NaN  2.2  0.6  2.9  0.097          NaN   3.5  -2.2  1.4
23   ...          NaN  0.5  0.7  1.2  0.142          NaN  -3.4   4.8  1.4
24   ...          NaN  0.5  1.0  1.5  0.070          NaN  -1.3  -1.4 -2.7
25   ...          NaN  2.7  3.9  6.6  0.108          NaN   0.6   1.3  1.9
26   ...          NaN -0.1  0.9  0.9  0.042          NaN  -1.8   0.7 -1.1
27   ...          NaN  2.8  2.2  5.0  0.120          NaN  -1.3   0.6 -0.7
28   ...          NaN  2.5  0.9  3.4  0.083          NaN   0.2  -2.7 -2.5
29   ...          NaN  2.0  0.6  2.5  0.094          NaN   0.8  -3.1 -2.4
..   ...          ...  ...  ...  ...    ...          ...   ...   ...  ...
621  ...          NaN  1.7  0.4  2.1  0.069          NaN  -0.5  -2.7 -3.2
622  ...          NaN  0.0  0.1  0.1  0.039          NaN  -1.7  -2.9 -4.6
623  ...          NaN  0.0  0.0  0.1  0.090          NaN  -0.1  -2.3 -2.4
624  ...          NaN  0.0  0.0  0.0  0.012          NaN  -2.6  -3.2 -5.8
625  ...          NaN  5.4  1.1  6.6  0.157          NaN   4.0  -3.1  0.9
626  ...          NaN  1.5  2.9  4.3  0.102          NaN  -0.8   1.8  1.0
627  ...          NaN  1.6  0.6  2.1  0.052          NaN   2.1  -3.5 -1.3
628  ...          NaN  0.9 -0.2  0.7  0.031          NaN   1.3  -4.2 -3.0
629  ...          NaN  0.7  0.7  1.4  0.080          NaN   3.4  -2.4  1.0
630  ...          NaN  0.1  0.1  0.2  0.083          NaN  -0.5  -2.2 -2.7
631  ...          NaN  1.1  0.8  1.9  0.084          NaN  -0.2  -0.8 -1.0
632  ...          NaN  1.3  0.7  2.0  0.102          NaN   0.6  -0.7 -0.2
633  ...          NaN -0.2  0.1 -0.1 -0.021          NaN  -4.3  -1.2 -5.5
634  ...          NaN  0.5  0.3  0.8  0.149          NaN  -1.6   0.6 -1.0
635  ...          NaN -0.4  0.2 -0.2 -0.036          NaN  -6.1   0.0 -6.1
636  ...          NaN -0.1  0.2  0.1  0.018          NaN  -5.2  -0.2 -5.3
637  ...          NaN -0.3  0.1 -0.2 -0.109          NaN  -7.4   0.3 -7.1
638  ...          NaN  4.3  1.8  6.1  0.202          NaN   1.2   2.4  3.6
639  ...          NaN  2.2  0.6  2.9  0.274          NaN   4.0   2.8  6.8
640  ...          NaN  0.1  0.1  0.2  0.106          NaN  -2.2   1.8 -0.4
641  ...          NaN  2.0  1.1  3.0  0.170          NaN  -0.1   2.3  2.1
642  ...          NaN  0.7  0.8  1.6  0.128          NaN   0.1   0.6  0.7
643  ...          NaN -0.6  0.9  0.3  0.014          NaN   0.3  -1.8 -1.5
644  ...          NaN  0.1  0.3  0.3  0.047          NaN  -1.9  -1.9 -3.8
645  ...          NaN  1.1  0.1  1.2  0.058          NaN   0.9  -4.3 -3.5
646  ...          NaN  1.6  1.4  3.1  0.061          NaN   0.2  -0.3 -0.1
647  ...          NaN  0.8  0.6  1.4  0.043          NaN   0.1  -0.4 -0.4
648  ...          NaN  0.8  0.8  1.6  0.095          NaN   0.4   0.0  0.3
649  ...          NaN  1.6  2.2  3.8  0.123          NaN  -2.1   2.5  0.4
650  ...          NaN  4.5  2.0  6.5  0.179          NaN   0.4   0.4  0.9

     VORP
0    -0.3
1     0.1
2     1.1
3     0.0
4     0.1
5     0.2
6    -0.1
7     0.5
8     0.2
9     0.7
10    1.4
11    0.8
12    2.2
13    1.5
14    0.0
15   -0.1
16    0.1
17    0.9
18    0.6
19   -0.1
20    0.4
21    1.6
22    1.2
23    0.3
24   -0.2
25    2.9
26    0.2
27    0.6
28   -0.3
29   -0.1
..    ...
621  -0.5
622  -0.1
623   0.0
624  -0.1
625   1.5
626   1.5
627   0.3
628  -0.3
629   0.6
630   0.0
631   0.3
632   0.4
633  -0.1
634   0.1
635  -0.3
636  -0.1
637  -0.1
638   2.0
639   1.1
640   0.0
641   0.9
642   0.4
643   0.1
644  -0.2
645  -0.4
646   1.2
647   0.7
648   0.5
649   0.9
650   1.2

[651 rows x 29 columns]>

In [40]:
new_Pclass=pd.Categorical(df['Pclass'],ordered=True)

KeyError: 'Pclass'

In [41]:
new_Pclass=new_Pclass.rename_categories(['Class1','Class2','Class3'])
new_Pclass.describe()

NameError: name 'new_Pclass' is not defined

In [42]:
df['Pclass']==new_Pclass
df.head()

KeyError: 'Pclass'

In [43]:
df['Cabin'].unique()

KeyError: 'Cabin'

In [45]:
df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy,PF,24,NYK,68,1287,11.9,0.533,0.181,...,NaN,1.0,0.7,1.7,0.063,NaN,-2.3,-0.8,-3.1,-0.3
1,2,Jordan Adams,SG,20,MEM,30,248,12.8,0.489,0.291,...,NaN,0.0,0.4,0.4,0.073,NaN,-1.8,1.2,-0.6,0.1
2,3,Steven Adams,C,21,OKC,70,1771,14.1,0.549,0.005,...,NaN,1.9,2.2,4.1,0.111,NaN,-1.4,1.8,0.4,1.1
3,4,Jeff Adrien,PF,28,MIN,17,215,14.2,0.494,0.000,...,NaN,0.2,0.2,0.4,0.087,NaN,-2.7,0.5,-2.2,0.0
4,5,Arron Afflalo,SG,29,TOT,78,2502,10.7,0.533,0.377,...,NaN,1.6,1.0,2.6,0.050,NaN,-0.5,-1.3,-1.8,0.1

In [8]:
import numpy as np
char_cabin=df['Cabin'].astype(str)
new_Cabin=np.array([cabin[0] for cabin in char_cabin])
new_Cabin=pd.Categorical(new_Cabin)
new_Cabin.describe()

            counts     freqs
categories
A                2  0.012821
B                5  0.032051
C               10  0.064103
D                6  0.038462
E                3  0.019231
F                4  0.025641
G                1  0.006410
n              125  0.801282

In [9]:
df['Cabin']=new_Cabin

In [10]:
df['Cabin']

0      n
1      C
2      n
3      C
4      n
5      n
6      E
7      n
8      n
9      n
10     G
11     C
12     n
13     n
14     n
15     n
16     n
17     n
18     n
19     n
20     n
21     D
22     n
23     A
24     n
25     n
26     n
27     C
28     n
29     n
      ..
126    n
127    n
128    F
129    n
130    n
131    n
132    n
133    n
134    n
135    n
136    D
137    C
138    n
139    B
140    n
141    n
142    n
143    n
144    n
145    n
146    n
147    n
148    F
149    n
150    n
151    C
152    n
153    n
154    n
155    n
Name: Cabin, Length: 156, dtype: category
Categories (8, object): [A, B, C, D, E, F, G, n]

In [4]:
df.head()

NameError: name 'df' is not defined

In [14]:
dummy_Vector=pd.Series()

In [15]:
type(dummy_Vector)

pandas.core.series.Series

In [16]:
df=pd.DataFrame()

In [18]:
type(df)

pandas.core.frame.DataFrame

In [20]:
dummy_Vector=pd.Series([1,None,3,None,7,8])
dummy_Vector.isnull()

0    False
1     True
2    False
3     True
4    False
5    False
dtype: bool

In [26]:
missing=np.where(df['Age'].isnull()==True)

In [27]:
missing

(array([], dtype=int64),)

In [3]:
import numpy as np
index=np.where(df['Fare']==max(df['Fare']))
df.loc[index]

NameError: name 'df' is not defined